.header-container {
  .head-container {
    .search {
      background-color: var(--search-main);
      input {
        &:focus-visible {
          + button {
            color: var(--primary-color);
          }
        }
      }
      button {
        color: black;
      }
    }
    .cart {
      border: 2px solid var(--primary-color);
      border-radius: 5px;
      color: var(--primary-color);
    }
  }
  .navbar-container {
    background-color: var(--primary-color);
    li {
      a {
        display: flex;
        padding: 13px 20px;
      }
      &:hover {
        background-color: var(--hover-navbar);
      }
    }
  }
}