.account-container {
    .ant-input-search-button {
        background-color: var(--primary-color);
        &:hover {
            background-color: var(--primary-color) !important;
        }
    }
}

.detail-container {
    table {
        .ant-table-row {
            .ant-table-cell {
                padding: 0.8rem !important;
            }
        }
    }
}