.changepassword-container {
    .ant-form {
        .submit-btn {
            background-color: var(--primary-color);
        }
    }
}

@media only screen and (max-width: 1280px) and (min-width: 576px) {
    .changepassword-container {
        .ant-form {
            .ant-row {
                display: block;
                input {
                    width: 150% !important;
                }
                .ant-form-item-explain-error {
                    width: 150% !important;
                }
                .ant-col {
                    overflow: visible;
                    text-align: left;
                }
            }
        }
    }
}
